// * BRAND COLOURS
$Primary: #FF9999;
$Secondary: #3E4149;
$PrimaryLight: #FFC8C8;
$SecondaryLight: #444F5A;

// * BRAND COLOURS
$Header: 'Major Mono Display', monospace;
$Body: 'Quicksand', sans-serif;
;

// * BACKGROUNDS
$BG-Yellow: #FFFEF5;

// * SHADOWS
$Box-Shadow: grey;