@import '../styles/partials/breakpoints';
@import '../styles/partials/brand';

.footerWrapper {
    background-color: $Primary;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    font-size: medium;

    @include max($max:1200px) {
        padding: 0 1rem;
    } 

    
}

.madeBy {
    color: #fff;
    text-align: right;
    padding-right: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
}

.logoWrapper {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 50vw;
    max-width: 320px;

    & h3 {
        color: $Secondary;
    }
}

