@import '../styles/partials/breakpoints';
@import '../styles/partials/brand';
@import '../styles/partials/mixins';

.socialIconWrapper {
    padding: 5rem 0 3rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 0;
}

.iconGroup {
    overflow: hidden;
}

.socialIcon {
    color: white;
    font-size: 2.5rem;
    padding: 0 2rem;
    overflow: hidden;
    @include min($min:$-lg) {
        font-size: 3rem; 
    }    
}