@import "../styles/partials/breakpoints";
@import "../styles/partials/mixins";
@import "../styles/partials/brand";

/* BREAKPOINTS */
$-xs: 450px;
$-sm: 768px;
$-md: 1024px;
$-lg: 1200px;
$-xl: 1201px;

// * ANIMATIONS
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes left-fade-in {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

// *STYLES
.container {
  padding: 0 0rem;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 62vh;
}

.main {
  min-height: 100vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.section {
  width: 100%;
  height: auto;
  // min-height: 30vh;

  margin: 0;

  background-color: $SecondaryLight;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sectionHeader {
  width: 100%;
  // margin-bottom: 3rem;
  padding: 3rem 0;
  text-align: center;

  background-color: $Secondary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $Primary;
  border-bottom: 1px solid $Primary;

  box-shadow: 0px 1px 20px 0px $Box-Shadow;
}
h3.sectionHeader {
  color: $PrimaryLight;
  padding-bottom: 0.5rem;
  font-family: $Header;
  text-transform: lowercase;
}

button.webSiteURL {
  margin: 2rem 0rem 2rem 0rem;
  padding: 1rem 1.5rem;

  background-color: $SecondaryLight;
  color: $PrimaryLight;
  border: 2px solid $Primary;
  border-radius: 0px;
  box-shadow: 2px 5px 20px 0px $Box-Shadow;

  // & a {
  //   color: $PrimaryLight;
  // }

  transition: 0.2s ease-in-out;
  &:hover {
    padding-left: 1rem;
    padding-right: 1rem;

    // & a {
    //   color: $Primary;
    // }

    transition: 0.2s ease-in-out;
  }
}

.webSiteType {
  margin-bottom: 0.5rem;
  
  &::before {
    content: ' - ';
  }
  &::after {
    content: ' - ';
  }
}

.webSiteDescription {
  padding: 0 3rem;
}

// * SCREENSHOTS
div.sectionBody {
  // animation-name: fade-in;
  // animation-duration: 2s;

  padding: 2rem 2rem 2rem 2rem;
  margin: 0;
  width: 100%;
  max-width: 1600px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  opacity: 0;
  transition: 1s all ease;

  @include min($min: $-sm) {
    gap: 5rem;
    padding: 5rem;
  }
}

div.sectionBody.active {
  // opacity: 1;
  // transition: 1s all ease;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: both;


}

.section .imageWrapper {
  display: block;
  width: 100%;
  height: auto;

  box-shadow: 4px 4px 20px $Box-Shadow;

  transition: 0.3s ease-in-out;
  &:hover {
    filter: brightness(1.1);
    transition: 0.3s ease-in-out;
  }

  // @include min($min: $-sm) {
  //   padding: 1rem;
  // }
}
