@import "../styles/partials/breakpoints";
@import "../styles/partials/mixins";
@import "../styles/partials/brand";

/* BREAKPOINTS */
$-xs: 450px;
$-sm: 768px;
$-md: 1024px;
$-lg: 1200px;
$-xl: 1201px;

.container {
  padding: 0 0rem;
  margin: 0;
  padding: 0;
  font-family: monospace;
  width: 100%;
  height: auto;
  min-height: 62vh;
}

.main {
  min-height: 100vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.section {
  width: 100%;
  height: auto;
  // min-height: 30vh;

  margin: 0;

  background-color: $BG-Yellow;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sectionHeader {
  width: 100%;
  // margin-bottom: 3rem;
  padding: 3rem 0;
  text-align: center;

  background-color: $Primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3.sectionHeader {
  color: $Secondary;
  padding-bottom: 0.5rem;
}

.webSiteURL {
  font-size: 1.2rem;

  color: $Secondary;
  margin-top: 1rem;
  padding: 1rem 2rem;

  background-color: $BG-Yellow;
  color: $Primary;
  border-radius: 50px;

  transition: 0.2s ease-in-out;
  &:hover {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    transition: 0.2s ease-in-out;
  }
}

.sectionBody {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 0;

  @include max($max:$-sm){
    padding: 2rem 0;
  }
}

.section .imageWrapper {
  display: block;
  width: 80%;
  height: auto;
  padding: 1rem;
  margin: 3rem;

  border-radius: 10px;
  box-shadow: 4px 4px 20px $Box-Shadow;

  transition: 0.3s ease-in-out;
  &:hover {
    filter: brightness(1.1);
    transition: 0.3s ease-in-out;
  }

  @include max($max:$-sm){
    padding: 0.5rem;
    margin: 1rem 0;
  }
  
}
