@import "./base";

html,
body {
  padding: 0;
  margin: 0;
  font-size: $Base;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  // font-size: $Base;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;

  font-size: 1.2rem;
  letter-spacing: 0.2rem;

  padding: 1rem;

  & a:hover {
    color: $Primary;
  }
}

img {
  border-radius: 0px;
}

li {
  list-style: none;
}

h1 {
  font-family: $Header;
  font-size: 2.25rem;
  font-weight: bold;
  color: $Primary;
  padding: 0rem 0 0rem 0;
  line-height: 3.5rem;
  margin-top: 2rem;
}

h2 {
  font-family: $Header;
  font-size: 1.7rem;
  // ! 1.688rem
  color: $PrimaryLight;
}

h3 {
  font-family: $Header;
  // font-size: 1.3rem;
  font-size: $Ratio * 1rem;
  // ! 1.312rem
  color: $PrimaryLight;
  letter-spacing: 0.2rem;
}

h4 {
  font-family: $Body;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 5%;
  font-size: 1rem;
  color: $PrimaryLight;
}

p {
  font-family: $Body;
  letter-spacing: 0.1rem;
  color: $PrimaryLight;
}

h5 {
  font-family: $Body;
  font-size: 0.8rem;
  // ! 0.75rem
  letter-spacing: 0.1rem;
  color: $PrimaryLight;
}

// h6 {
//    font-family: $Body;
//   font-size: 0.8rem;
//   // ! 0.75rem
//   letter-spacing: 0.1rem;
//   color: $PrimaryLight;
// }
